@{
    Layout = "_Layout1";
}
@{
    ViewData["Title"] = "Home Page";
}

@*<style>
    .corpo {
        background-image: url("../../wwwroot/img/background_home.png");
   
        background-size: cover;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>*@

<main class="corpo">

</main>