@model LoginModel

@{
    Layout = "_NoLayout";
}
@{
    ViewData["Title"] = "Login";
}

<style>

    @@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

    * {
        margin: 0px;
        padding: 0px;
        font-family: Arial, sans-serif;
    }

    body {
        font-family: 'Open Sans', sans-serif;
        background-color: #333333;
        background-color: #FFD4F6;
        height: 100vh;
        width: 99vw;
        position: relative;
    }

    a {
        text-decoration: none;
        color: #fff;
        color: rgba(0,0,0,0.9);
    }

    .header {
    }

        .header .barra {
            width: 99vw;
            height: 30px;
            background-color: #515151;
            background-color: #f868d9;
            background-color: #BD4D9E;
            position: absolute;
            top: 0px;
            left: 0.5vw;
        }

    .container-ongs-lives-login {
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        padding: 20px;
        gap: 20px;
    }

    .container-ongs-lives-login .logo-login {
            align-self: center;
            width: 80px;
            height: 80px;
            margin: 40px 0px 40px 0px;
            border-radius: 50%;
        }

    .container-ongs-lives-login form {
            padding: 20px;
        }


    .input-group1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px 0px;
        position: relative;
    }

        .input-group1 .input {
            padding: 10px 8px;
            border: none;
            text-align: center;
            background-color: #c2fbd7;
            border-radius: 100px;
            box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
            color: green;
        }

        .input-group1 .input::placeholder {
            color: green;
        }

        .input-group1 a {
            display: block;
            font-size: 12px;
        }

    .container-ongs-lives-login form .button-group {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 50px;
    }

        .container-ongs-lives-login form .button-group .btn {
            display: block;
            padding: 12px 70px;
            margin: 0px;
            border-radius: 20px;
            border: none;
            background-color: #fff;
            background-color: #80FF8C;
            color: rgba(0,0,0,0.8);
            cursor: pointer;
        }

        .container-ongs-lives-login form .button-group a {
            font-size: 12px;
        }

    /* .btn:hover 
    {
        background-color: #45a049;
    } */


    @@media (min-width: 1000px){

        .header {
        }

        .container-ongs-lives-login {


        }

    }

    .link-login{
        transition: 0.2s;
    }

    .link-login:hover {
        color: rgba(0,0,0, 0.5);
    }


    .button-33 {
        background-color: #c2fbd7;
        border-radius: 100px;
        box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
        color: green;
        cursor: pointer;
        display: inline-block;
        font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
        padding: 7px 20px;
        text-align: center;
        text-decoration: none;
        transition: all 250ms;
        border: 0;
        font-size: 16px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

        .button-33:hover {
            box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
            transform: scale(1.05) rotate(-1deg);
        }



</style>


<div class="header">
    <span class="barra"></span>
</div>


@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}


@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}

<div class="container-ongs-lives-login">
    <img class="logo-login" src="~/img/logo-image.png" alt="logo">

    <form asp-controller="Login" asp-action="Entrar">
        <div class="input-group1">
            <input class="input" type="text" asp-for="UsuarioLogin" id="username" placeholder="Usuário" required autocomplete="off">
            @Html.ValidationMessageFor(x => x.UsuarioLogin)
            <input class="input" type="password" asp-for="UsuarioSenha" id="password" placeholder="Senha" required>
            @Html.ValidationMessageFor(x => x.UsuarioSenha)
            <a asp-action="Contato" asp-controller="Suporte" class="link-login">Esqueci minha senha</a>
        </div>

        <div class="button-group">
            <button type="submit" class="btn button-33">Entrar</button>
           @* <a asp-area="" asp-controller="Home" asp-action="Index" class="btn">Entrar</a>*@
            <a asp-action="Create" asp-controller="Usuarios" class="link-login">Cadastra-se agora</a>
        </div>
    </form>
</div>

