<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OngsLivesFront.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="https://bootswatch.com/5/vapor/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OngsLivesFront.MVC.styles.css" asp-append-version="true" />


    <style>
    body {
        position: relative;
        overflow: hidden;
/*            background: linear-gradient(68.15deg, #d37f8d 16.62%, #e65f75 85.61%);*/
    }


    .footer {
    }

    .footer .barra {
        position: absolute;
        width: 99vw;
        height: 33px;      
        background-color: #BD4D9E;
        
        bottom: 0px;
        left: 0.5vw;
    }

    @@media (min-with: 1000px){

    body 
    {
       height: 100vh;
    }

    .footer {
    }

    .footer .barra {
        position: absolute;
        width: 99vw;
        height: 33px;      
        background-color: red;
        
        bottom: 0px;
        left: 0.5vw;
    }

    }

    @@media (min-height: 700px)
    {
        .footer .barra {
            position: absolute;
            width: 99vw;
            height: 33px;
            background-color: #BD4D9E;
            bottom: 0px;
            left: 0.5vw;
        }

    }


    </style>
</head>
<body>
    <header>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="footer">
        <span class="barra"></span>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
