@model Usuario

<main>


    <div class="linha3">
        <span class="listradinamica1"></span>

        <a class="" asp-area="" asp-controller="Home" asp-action="Index"><span class="opcao-menu">GPS</span><i class="fa-solid fa-location-dot"></i></a>

        @if (Model.Perfil == OngsLivesFront.MVC.Models.Enums.EPerfilUsuario.Admin || Model.Perfil == OngsLivesFront.MVC.Models.Enums.EPerfilUsuario.Voluntario)
        {
            <a class="" asp-area="" asp-controller="Ongs" asp-action="Index"><span class="opcao-menu">ONGS</span><i class="fa-solid fa-handshake-angle"></i></a>
        }

        <a class="" asp-area="" asp-controller="Vagas" asp-action="Index"><span class="opcao-menu">VAGAS</span><i class="fa-solid fa-briefcase"></i></a>

        @if (Model.Perfil == OngsLivesFront.MVC.Models.Enums.EPerfilUsuario.Admin || Model.Perfil == OngsLivesFront.MVC.Models.Enums.EPerfilUsuario.Ong)
        {
            <a class="" asp-area="" asp-controller="Voluntarios" asp-action="Index"><span class="opcao-menu">VOLUNTARIOS</span><i class="fa-solid fa-people-arrows"></i></a>
            <a class="" asp-area="" asp-controller="OngFinanceiros" asp-action="Index"><span class="opcao-menu">FINANCEIRO</span><i class="fa-solid fa-money-bills"></i></a>
        }

        <a class="" asp-area="" asp-controller="Home" asp-action="Index"><span class="opcao-menu">CHAT</span><i class="fa-solid fa-comments"></i></a>

        @if (Model.Perfil == OngsLivesFront.MVC.Models.Enums.EPerfilUsuario.Admin)
        {
            <a class="" asp-area="" asp-controller="Usuarios" asp-action="Index"><span class="opcao-menu">USUARIOS</span><i class="fa-solid fa-users"></i></a>
        }
        <a class="" asp-area="" asp-controller="Experiencias" asp-action="Index"><span class="opcao-menu">EXPERIENCIAS</span><i class="fa-solid fa-comments"></i></a>
        <span class="listradinamica2"></span>
    </div>

</main>